@font-face {
  font-family: 'TTNorms';
  src: url("/dodo_passboard/TTNorms-Bold.woff");
  font-display: block;

}

body {
  background: url(PNQ5cOe.png) repeat;
  width: 100%;
}

span {
  color: cornsilk;
}

.row {
  max-height: 600px;
}

#form {
  text-align: center;
  width: 100%;
}

#welcome_image {
  width: 100%;
  max-width: 800px;
  display:block;
    margin:auto;
}

#name,
#surname,
#departure_date,
#departure_time,
#canvas {
  width: 80%;
  margin: 1em;
  border-radius: 4px;
  border-color: transparent;
}

#generate_passboard {
  background-color: #5cbeff;
  width: 80%;
  margin: 1em;
  border-radius: 4px;
  border-color: transparent;
}