@font-face {
  font-family: 'TTNorms';
  src: url("/dodo_passboard/TTNorms-Bold.woff");
  font-display: block;

}

.night {
  background-image: radial-gradient(#cafff6 5%, transparent 0%),
    radial-gradient(#fff6d6 5%, transparent 0%);
  background-color: #2c3450;
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}

.sunset {
  background-image: radial-gradient(rgb(253, 77, 121) 5%, transparent 0%),
    radial-gradient(rgb(255, 233, 107) 5%, transparent 0%);
  background-color: rgb(255, 180, 94);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}

.day {
  background-image: radial-gradient(rgb(55, 160, 111) 5%, transparent 0%),
    radial-gradient(rgb(146, 91, 39) 5%, transparent 0%);
  background-color: rgb(125, 233, 125);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}

a {
  color: #5bdbc6;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #696052;
  opacity: 0.6;
  /* Firefox */
}

.row {
  max-height: 600px;
}



#form {
  text-align: center;
  width: 100%;
}

#welcome_image {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: auto;
}

#name,
#surname,
#departure_date,
#departure_time,
#canvas {
  width: 80%;
  height: 75%;
  margin: 1em;
  border-radius: 20px;
  border-color: transparent;
  background-color: #fef7e3;
  color: #696052;
}

input {
  text-align: center;
}

.footer {
  position: relative;
  top: 0;
  left: 0;
}

#credits {
  min-height: 20px;
  max-height: 40px;
  min-width: 10%;
  max-width: 60%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  margin: auto;
}

/* #coconut {
  position: absolute;
  min-height: 20px;
  max-height: 100px;
  min-width: 10%;
  max-width: 20%;
  top: 10%;
  left: 10%;
}

#shell {
  position: absolute;
  min-height: 20px;
  max-height: 100px;
  min-width: 10%;
  max-width: 20%;
  top: 10%;
  left: 70%;
}

#sea_space {
  height: 50px;
} */

